// API keys and sensitive data normally goes in .env file, from where is loaded on server side and backend endpoints are created to make api requests
// but for this purpose, and since we are working with api accessible to everybody, focus is only on frontend code
export const TMDB_API_KEY = 'Here goes api key';
