// Place to define colors used trough project

$color-white: #fff;
$color-beige: #f0e3dc;
$color-dark-brown: #323232;
$color-green: #5aa15a;
$color-cherry-red: #ac6464;
$color-red: #d32626;
$color-yellow: #FFD700;