// Mixin for responsive content, defines min
// and max width of the screen on which @content styles
// are applied
//
@use 'sass:math';

@mixin respondBetween($min: 0, $max: 0) {

    // have both
    @if $min > 0 and $max > 0 {
      @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
      }
    }
      // have min
    @else if $min > 0 and $max <= 0 {
      @media only screen and (min-width: $min) {
        @content;
      }
    }
      // have max
    @else if $min <= 0 and $max > 0 {
      @media only screen and (max-width: $max) {
        @content;
      }
    }
  }
  
  // Mixin that creates responsive container that behaves like image
  // (contains it width/height ratio, and adopts height depending on the available width)
  //
  // Mostly used for images.
  @mixin responsiveImageContainer($width, $height) {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
  
    &:before {
      display: block;
      content: "";
      padding-top: math.div($height, $width) * 100%;
      clear: both;
    }
  
    &:after {
      display: block;
      clear: both;
      content: "";
    }
  }
  